@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
        Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about .</p>
</div>
